{% extends 'default_frame.twig' %}

{% block main %}
    <div>
        <h1>会社概要</h1>
        <ul>
            <li>
                <span>会社名</span>
                <span>東京申（Tokyo Sin）</span>
            </li>
            <li>
                <span>会社名</span>
                <span>東京申（Tokyo Sin）</span>
            </li>
            <li>
                <span>会社名</span>
                <span>東京申（Tokyo Sin）</span>
            </li>
            <li>
                <span>会社名</span>
                <span>東京申（Tokyo Sin）</span>
            </li>
        </ul>
    </div>

{% endblock %}